# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- pandas
- Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

# Example 1: Addition
3 + 5

# Example 2: Multiplication
4 * 7

# Example 3: Division
10 / 2

# Example 4: Exponentiation
2 ** 3

# Example 5: Combining operations
(3 + 2) * (5 - 1)

In [7]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- Describe commonly used libraries by Data Scientists
- Create a table of open-source development environment tools
- Demonstrate simple arithmetic expressions in Python

In [10]:
## Author
Irfan Nazir

<class 'SyntaxError'>: invalid syntax (<ipython-input-10-950d07610d1e>, line 2)